{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'col-12 col-lg-6 offset-lg-3 order-2'
  ]
%}

<div class="col-12 order-1">
    <div class="no-slider" id="wraper_slider">
        <div class="wraper-page-width">
            <a class="slider-mini-title">{{ label }}</a>
        </div>
    </div>
</div>

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h1{{ title_attributes.addClass("main-page-title") }}>{{ label }}</h1>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes.addClass('content') }}>
      {{ content }}
    </div>
  {% endblock %}
</div>