<div class="row g-0">
	<div class="col-12">
		<div class="slider">
			<div data-src="/sites/default/files/2022-11/slider_1-min.jpg">
				<img src="/sites/default/files/2022-11/slider_1-min.jpg">
			</div>
			<div data-src="/sites/default/files/2022-11/slider_2-min.jpg">
				<img src="/sites/default/files/2022-11/slider_2-min.jpg">
			</div>
			<div data-src="/sites/default/files/2022-11/slider_3-min.jpg">
				<img src="/sites/default/files/2022-11/slider_3-min.jpg">
			</div>
			<div data-src="/sites/default/files/2022-11/slider_4-min.jpg">
				<img src="/sites/default/files/2022-11/slider_4-min.jpg">
			</div>
		</div>

	</div>
</div>

<div class="row g-0 box-row">
	<div class="col-xl-8 offset-xl-2 col-lg-12">
		<div class="row g-0">

			<div class="col-12 col-lg-6 col-xl-3 red-column">
				<div class="row g-0">
					<div class="col-xs-6 col-sm-3 col-lg-6 d-flex flex-column align-items-center justify-content-center front-page-box red">
						<a href="https://www.bwcs.pl/audyt" class="front-page-link">
							<img src="/themes/custom/bwcs/images/audit.webp" class="mx-auto d-block" width="59" height="53" alt="Audyt">
							<span>{{ 'Audit'|t }}</span>
						</a>
					</div>
					<div class="col-xs-6 col-sm-3 col-lg-6 d-flex flex-column align-items-center justify-content-center front-page-box red">
						<a href="https://www.bwcs.pl/ksiegowosc" class="front-page-link">
							<img src="/themes/custom/bwcs/images/accountancy.webp" class="mx-auto d-block" width="38" height="50" alt="Księgowość">
							<span>{{ 'Accountancy'|t }}</span>
						</a>
					</div>
					<div class="col-xs-6 col-sm-3 col-lg-6 d-flex flex-column align-items-center justify-content-center front-page-box red">
						<a href="https://www.bwcs.pl/kadry-i-place" class="front-page-link">
							<img src="/themes/custom/bwcs/images/hr-and-payroll.webp" class="mx-auto d-block" width="77" height="49" alt="Kadry i płace">
							<span>{{ 'Human resources and payroll'|t }}</span>
						</a>
					</div>
					<div class="col-xs-6 col-sm-3 col-lg-6 d-flex flex-column align-items-center justify-content-center front-page-box red">
						<a href="https://www.bwcs.pl//konsulting-zarzadczy" class="front-page-link">
							<img src="/themes/custom/bwcs/images/corporate-consultancy.webp" class="mx-auto d-block" width="53" height="60" alt="Konsulting korporacyjny">
							<span>{{ 'Corporate consultancy'|t }}</span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6 col-xl-3 blue-column">
				<div class="row g-0">
					<div class="col-xs-6 col-sm-3 col-lg-6 d-flex flex-column align-items-center justify-content-center front-page-box blue">
						<a href="https://www.bwcs.pl/doradztwo-finansowe" class="front-page-link">
							<img src="/themes/custom/bwcs/images/financial-consultancy.webp" class="mx-auto d-block" width="50" height="41" alt="Doradztwo finansowe">
							<span>{{ 'Financial consultancy'|t }}</span>
						</a>
					</div>
					<div class="col-xs-6 col-sm-3 col-lg-6 d-flex flex-column align-items-center justify-content-center front-page-box blue">
						<a href="https://www.bwcs.pl/doradztwo-podatkowe" class="front-page-link">
							<img src="/themes/custom/bwcs/images/tax-consultancy-services.webp" class="mx-auto d-block" width="40" height="44" alt="Doradztwo podatkowe">
							<span>{{ 'Tax consultancy services'|t }}</span>
						</a>
					</div>
					<div class="col-xs-6 col-sm-3 col-lg-6 d-flex flex-column align-items-center justify-content-center front-page-box blue">
						<a href="https://www.bwcs.pl/obsluga-expatow" class="front-page-link">
							<img src="/themes/custom/bwcs/images/services-for-expates.webp" class="mx-auto d-block" width="40" height="49" alt="Usługi dla expató">
							<span>{{ 'Services for expatriates'|t }}</span>
						</a>
					</div>
					<div class="col-xs-6 col-sm-3 col-lg-6 d-flex flex-column align-items-center justify-content-center front-page-box blue">
						<a href="https://www.bwcs.pl/doradztwo-prawne" class="front-page-link">
							<img src="/themes/custom/bwcs/images/legal-consultancy.webp" class="mx-auto d-block" width="40" height="50" alt="Doradztwo prawne">
							<span>{{ 'Legal consultancy'|t }}</span>
						</a>
					</div>
				</div>
				<div class="row g-0">
					<div class="col front-page-news-column">
						<h2 class="front-page-news-title">{{ 'News'|t }}</h2>
						{{ page.featured_top }}
					</div>
				</div>
			</div>

			<div class="col-12 col-xl-6">
				<div class="row g-0">
					<div class="col-sm-12 col-md-4 d-flex flex-column align-items-stretch yellow-box">
						<a href="https://www.bwcs.pl/misja-i-cele" class="yellow-link"><strong>{{ 'Mission and goals'|t }}</strong></a>
						<img src="/themes/custom/bwcs/images/mission-and-goals.webp" width="217" height="115" alt=" Misja i cele">
						<ul class="yellow-box-list">
							<li>{{ 'Long-term cooperation'|t }}</li>
							<li>{{ 'Development of business potential'|t }}</li>
							<li>{{ 'Shared success'|t }}</li>
							<li>{{ 'Development through technology'|t }}</li>
						</ul>
						<a href="https://www.bwcs.pl/misja-i-cele" class="front-page-yellow-link">{{ 'See more'|t }}</a>
					</div>
					<div class="col-sm-12 col-md-4 d-flex flex-column align-items-stretch yellow-box">
						<a href="https://www.bwcs.pl/kim-jestesmy" class="yellow-link"><strong>{{ 'Who we are'|t }}</strong></a>
						<img src="/themes/custom/bwcs/images/who-we-are.webp" width="218" height="115" alt="Kim jesteśmy">
						<ul class="yellow-box-list">
							<li>{{ 'Financial and tax audit'|t }}</li>
							<li>{{ 'Financial and HR outsourcing'|t }}</li>
							<li>{{ 'Comprehensiveness of services'|t }}</li>
							<li>{{ 'International experience'|t }}</li>						
						</ul>
						<a href="https://www.bwcs.pl/kim-jestesmy" class="front-page-yellow-link">{{ 'See more'|t }}</a>
					</div>
					<div class="col-sm-12 col-md-4 d-flex flex-column align-items-stretch yellow-box">
						<a href="https://www.bwcs.pl/jak-dzialamy" class="yellow-link"><strong>{{ 'How we operate'|t }}</strong></a>
						<img src="/themes/custom/bwcs/images/how-we-operate.webp" width="216" height="115" alt="Jak działamy">
						<ul class="yellow-box-list">
							<li>{{ 'Business understanding'|t }}</li>
							<li>{{ 'Adequate solutions'|t }}</li>
							<li>{{ 'Liquidity management'|t }}</li>
							<li>{{ 'Risk control'|t }}</li>
						</ul>
						<a href="https://www.bwcs.pl/jak-dzialamy" class="front-page-yellow-link">{{ 'See more'|t }}</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
		