{% if language == 'en' %}
	{% set audit = '/audit' %}
	{% set accountancy = '/accountancy' %}
	{% set hr = '/human-resources-and-payroll' %}
	{% set management = '/management-consulting' %}
	{% set financial = '/financial-consultancy-services' %}
	{% set tax = '/tax-consultancy-services' %}
	{% set expat = '/service-for-expatriates' %}
	{% set law = '/legal-consultancy-services' %}
    {% set archiving = '/storage-of-documents' %}
{% elseif language == 'pl' %}
	{% set audit = '/pl/audyt' %}
	{% set accountancy = '/pl/ksiegowosc' %}
	{% set hr = '/pl/kadry-i-place' %}
	{% set management = '/pl/konsulting-zarzadczy' %}
	{% set financial = '/pl/doradztwo-finansowe' %}
	{% set tax = '/pl/doradztwo-podatkowe' %}
	{% set expat = '/pl/obsluga-expatow' %}
	{% set law = '/pl/doradztwo-prawne' %}
    {% set archiving = '/pl/magazynowanie-dokumentow' %}
{% endif %}

<div class="row">
    <div class="col-6 col-lg-4">
        <h2 class="footer-first-title">{{ 'Services'|t }}</h2>
        <ul class="footer-services">
            <li><a href="{{ audit }}">{{ 'Audit'|t }}</a></li>
            <li><a href="{{ accountancy }}">{{ 'Accountancy'|t }}</a></li>
            <li><a href="{{ hr }}">{{ 'Human resources and payroll'|t }}</a></li>
            <li><a href="{{ expat }}">{{ 'Service for expatriates'|t }}</a></li>
            <li><a href="{{ tax }}">{{ 'Tax consultancy services'|t }}</a></li>
            <li><a href="{{ financial }}">{{ 'Financial consultancy'|t }}</a></li>
            <li><a href="{{ management }}">{{ 'Management consulting'|t }}</a></li>
            <li><a href="{{ law }}">{{ 'Legal consultancy'|t }}</a></li>
            <li><a href="{{ archiving }}">{{ 'Archiving of documents'|t }}</a></li>
        </ul>
    </div>
    <div class="col-6 col-lg-4">
        <h2 class="footer-second-title">{{ 'Contact'|t }}</h2>
        <strong>BW Corporate Services sp. z o.o.</strong><br>
        ul. Sienna 83 lok. 218<br>
        00-815 {{ 'Warsaw'|t }}<br>
        Tel: <a href="tel:+48222928930"><strong>+48 22 292 89 30</strong></a><br>
        Fax: +48 22 292 89 32<br>
        E-mail: <a href="mailto:info@bwcs.pl">info@bwcs.pl</a>
    </div>
    <div class="col-12 col-lg-4">
        <h2 class="footer-third-title">{{ 'Our offices'|t }}</h2>
        <img src="/sites/default/files/2022-11/mapa_biur_small.png" alt="Mapa biur BWCS">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 footer-middle">
        <p>{{ 'We use cookies to ensure we give you the best experience. If you continue, we\'ll assume that you are happy to receive all cookies on the BWCS Website.'|t }}</p>
        <p>{{ 'A regulation by which the European Parliament, the Council of the European Union and the European Commission intend to strengthen and unify data protection for all individuals within the European Union (EU).'|t }}</p>
        <p><a href="https://www.eugdpr.org/">{{ 'This is the homepage of the GDPR website'|t }}</a></p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 footer-bottom">
        <p>{{ 'All rights reserved'|t }} BW Corporate Services {{ 'now' | date('Y') }}</p>
    </div>
</div>